<div ng-controller="OrdersAdminController">
		<label>Filter By</label><br>
			<label ng-repeat="status in statuses">
			<input type="radio" ng-model="currentStatus" name="selectedFruits[]" value="{{status}}"
			ng-click="filterByStatus(status)">{{status}}</label>
		
		<table style="width:100%">
		<tr>
			<th>Order Name</th><th>Order Status</th><th>Edit Status</th><th>Order ID</th>
			<th>Stock</th>
		</tr>
		<tr order-table-row order="order" ng-repeat="order in orders | orderStatusFilter: currentStatus">
		</tr>
		</table>
	</div>