<!--section id="home">
    <fullstack-logo></fullstack-logo>
    <rando-greeting></rando-greeting>
</section-->
<section id="home">

<div id="front" class="container">
	<div class="col-lg-9">
		<div class="row">
		<form ng-submit="searchBy()"><!-- action="/" method="GET" -->
			<input class="search" ng-model="searchField.text" name="searchText" size="100"></input>
			<button>SEARCH</button>
		</form>
		</div>

		<div class="row">
		<table>
			<tr><h3>Filter by:</h3></tr>
			<tr>
		<td ng-repeat="category in categories" class="filterBy" ng-controller="HomePageController">
			<h4>{{category.name}}</h4>
			<table><tr>
				<td ng-repeat="subCategory in category.values" class="filterValues">
					{{subCategory}}
	    		</td>
			</tr>
			<tr>
				<td ng-repeat="e in category.matches track by $index" >
					<input type="checkbox" ng-model="category.matches[$index]"></input>
	    		</td>
	    	</tr>
			</table>
		</td></tr>
		</table><br>
		
		<button ng-click="filter()">Filter</button>
	</div>
		<hr>
		<div class="row">

		<div ng-repeat="pet in pets | categoryFilter:filters" ng-model="filters" ng-controller="itemController" class="item">
			<div>
				<a ui-sref="details({animalID:pet._id})"><img class="img-thb" src={{pet.imgUrl}}></a>
			</div>
			<div>
				<a ui-sref="details({animalID:pet._id})"><label>{{pet.name}}</label></a>
				<a href="" ng-click="addToCart(pet);">Add to Cart</a>
			</div>
		</div>
	</div>
	</div>
	
	<shopping-cart></shopping-cart>
</section>