<!--section id="home">
    <fullstack-logo></fullstack-logo>
    <rando-greeting></rando-greeting>
</section-->
<section>


<div id="front" class="container">

	<div class="col-lg-9">
		<div class="row">
		<form action="/search" method="GET">
			<input class="search" name="searchText" size="100"></input>
			<button>SEARCH</button>
		</form>
		</div>
		
		<div class="row">
		<hr><p>Filter by Category:</p>
		<input type="radio" class="category" ng-model="category.name" value="" checked>All</input>
		<input type="radio" class="category" ng-model="category.name" value="Mammal" >Mammal</input>
		<input type="radio" class="category" ng-model="category.name" value="Bird" >Bird</input>
		<input type="radio" class="category" ng-model="category.name" value="Reptile" >Reptile</input>
		</div>

		<hr>
		<div class="row">


		<div ng-repeat="pet in pets | filter:category.name" ng-controller="itemController" class="item">
			<a ui-sref="details({animalID:pet._id})"><img src={{pet.imgUrl}}></a>
			<a ui-sref="details({animalID:pet._id})"><label>{{pet.name}}</label></a>
			<a href="" ng-click="addToCart(pet);">Add to Cart</a>
		</div>
	</div>

	<div ng-controller="ShoppingCartController"class="col-lg-3">
		<div class="row">
			<p>Shopping cart:</p>
		</div>
		<div ng-repeat="item in items" class="row">
			<p>Item Description: {{item.name}}</p>
			<p>Item Quantity:  <input size="2" ng-model="itemQuantity" placeholder="{{item.quantity}}"></input><button ng-click="updateQuantity(item, itemQuantity)">Update</button></p>
			<p><a ng-click="removeItem(item)">Remove Item</a></p>
		</div>

		<div class="row">
			<button> Checkout </button>
			<button ng-click="clearCart()">Clear Cart</button>
			<button ng-click="sendCartToDB()">Save Cart</button>
		</div>
	</div>

</div>
</section>