<section>

<div id="front" class="container">

	<div class="col-lg-9">
		<div class="row">
			<p>Animal Name: </p>
			{{pet.name}}
		</div>
		<div class="row">
			<p>Animal Specie: </p>
			{{pet.specie}}
		</div>
		<div class="row">
			<img src="{{pet.imgUrl}}"></img>
			<a href="" ng-click="addToCart(pet);">Add to Cart</a>
		</div>
		<div class="row">
			<p>Animal Height: </p>
			{{pet.height}}
		</div>
		<div class="row">
			<p>Animal Weight: </p>
			{{pet.weight}}
		</div>
		<div class="row">
			<p>Animal Description: </p>
			{{pet.description}}
		</div>
		<div class="row">
			<p>Animal Price: </p>
			{{pet.price}}
		</div>
		<div class="row">
			<p>Animal Stock: </p>
			{{pet.stock}}
		</div>
		<div class="row">
			<p>Reviews: </p>
			<ul ng-repeat="review in pet.reviews">
				<li>{{review.content}}, {{review.date | date: 'medium'}}, {{review.user.email}}</li>
			</ul>

			<form id="review-form" name="reviewForm" ng-submit="sendReview(newReview)">

		    <div ng-if="isLoggedIn()" class="form-group">
		        <label for="content">Content:</label>
		        <input type="textarea" ng-model="newReview.content" id="content">
		    </div>

    		<button type="submit" class="btn btn-default">Submit Review</button>
			</form>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="row">
			<p>Shopping cart:</p>
		</div>
	</div>

</div>
</section>